/* font intrigation */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255) !important;
  font-family: "Montserrat", sans-serif;
}
header {
  background: url(../image/undraw_web_shopping_re_owap.svg);
  background-size: 400px 150px;
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
header h1 {
  margin: 0px;
  font: normal 42px "Playfair Display SC", serif;
  text-align: center;
  position: relative;
}
header h1::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  content: "“ পছন্দ আপনার, পৌছে দেওয়ার দায়িত্ব আমাদের ”";
  font-size: 16px;
  font-weight: 700;
  color: #608754;
}
nav {
  display: block;
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

nav a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 22px;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  padding: 16px 12px 5px;
  position: relative;
  color: rgb(0, 0, 0);
}
nav a:hover {
  text-decoration: none;
  color: rgb(71, 70, 70);
}
/* // animmation */
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #198754;
  transition: 0.4s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  transform: scaleX(1);
}
.search-field {
  width: 100%;
}
.search {
  width: 40%;
  position: relative;
  text-align: center;
}

.search-box {
  position: relative;
  border: 1px solid #d9534f;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
}
.search-box::placeholder {
  color: rgb(70, 70, 70);
  font-size: 18px;
}
.search-box:focus {
  outline: none;
  border: 1px solid #5cb85c;
}
.search-button {
  display: inline-block;
  padding: 10px 25px !important;
  font-size: 20px !important;
  background-color: #5cb85cea;
  color: #fff !important;
  border-radius: 25px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.search-button:hover {
  transform: translateY(-50%) scale(0.9);
  transition: all 0.1s;
}
#all-products {
  padding-left: 5px;
}
.product-image {
  width: 155px;
  height: 155px;
}
.card {
  color: rgb(0, 0, 0);
  position: relative;
  border: 1px solid rgba(201, 48, 44, 0.5) !important;
  background-color: rgba(136, 145, 137, 0.082);
}
.text-coustom {
  text-shadow: 1px 1px black;
  /* color: rgb(255, 238, 0); */
}
.card-text {
  font-size: 20px;
  margin: 10px 0px 0px;
  font-family: "Montserrat", sans-serif;
}
.card-text i {
  color: #5cb85c;
}

/* if you enable this section add to cart button will not work */

/* .card:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: 2px;
  bottom: 2px;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 1px solid transparent;
}
.card:hover:before{
  animation: animate 1s linear;
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    width: 100%;
    height: 100%;
    border-top-color: #5cb85c;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    width: 100%;
    height: 100%;
    border-top-color: #5cb85c;
    border-right-color: #5cb85c;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 100%;
    border-top-color: #5cb85c;
    border-right-color: #5cb85c;
    border-bottom-color: #5cb85c;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #5cb85c;
    border-right-color: #5cb85c;
    border-bottom-color: #5cb85c;
    border-left-color: #5cb85c;
  }
} */
.card:hover {
  border: 1px solid #5cb85c !important;
  transition: 1s;
}
.card:hover img {
  transform: scale(1.1);
  transition: all 0.4s;
}
.cart {
  background-color: rgb(255, 255, 255);
  width: 350px;
  border: 1px solid green;
  padding: 20px 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.144);
  border-radius: 5px;
  position: fixed;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}
.cart-main {
  padding-right: 30px;
}
.my-cart-btn {
  background-color: #5cb85c;
  padding: 10px;
  color: #fff;
  font-size: 20px !important;
}
.my-cart-btn:hover {
  background-color: #5cb85c;
  color: #fff !important;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.158);
}

.back-to-top {
  position: fixed;
  bottom: 28px;
  right: 20px;
  display: none;
}
.back-to-top::after {
  position: absolute;
  top: -25px;
  right: -10px;
  content: "Back To Top";
  border-radius: 5px;
  visibility: hidden;
  padding: 2px 3px;
  font-size: 12px;
  background-color: rgb(110, 107, 107);
  color: rgb(255, 255, 255);
  /* transition: all 0.3s; */
}
.back-to-top:hover::after {
  visibility: visible;
}
@media only screen and (max-width: 768px) {
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
